In [1]:
len("Lalit")

5

In [2]:
len(1234)

TypeError: object of type 'int' has no len()

In [3]:
len(1.23)

TypeError: object of type 'float' has no len()

# Functions ---> A special block of code written to perform a particular task.

In [1]:
# SI = P*R*T/100

In [2]:
# defining a function with parameters -- P, R, T
def SI(P, R, T):
    return ((P*R*T)/100)

In [3]:
# Calling a function with arguments
SI(P = 5000, R = 10, T = 5)

2500.0

In [4]:
# Defining a function without parameters.
def my_function():
  print("Hello from a function")

In [5]:
# Calling a function
my_function()

Hello from a function

In [6]:
SI(4000,8,2)

640.0

In [7]:
SI(50000, 8, 10)

40000.0

In [16]:
def sum(a,b):
    print(a+b)

In [17]:
sum(9,8)

17

In [20]:
def my_function(*kids):
  print("The youngest child is " + kids[3])

In [21]:
my_function("Emil", "Tobias", "Linus", "Leonidus")

The youngest child is Leonidus

In [22]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

In [24]:
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [27]:
def my_function(**kid):
  print("His last name is " + kid["sname"])

my_function(fname = "Tobias", lname = "Refsnes", sname = 123)

TypeError: can only concatenate str (not "int") to str

In [28]:
number = 123
print(f"I've got {number} in maths out of 150.")

I've got 123 in maths out of 150.

In [29]:
def myfunction():

SyntaxError: incomplete input (4122323943.py, line 1)