Array is a linear data structure where all elements are arranged sequentially. It is a collection of elements of same data type stored at contiguous memory locations.

In [1]:
len("Mehak")

5

In [2]:
len({1, 2, 3})

3

In [3]:
len(123)

TypeError: object of type 'int' has no len()

In [5]:
# creating class with __init__ method/function
class My_first:
    def __init__(xyz, name, age, gender):
        xyz.name = name
        xyz.age = age
        xyz.gender = gender

In [6]:
# create object using My_first class

Member_1 = My_first("Amit", "31", "Male")

In [7]:
Member_1

In [8]:
Member_1.name

'Amit'

In [9]:
Member_1.age

'31'

In [10]:
Member_1.gender

'Male'

In [11]:
print(Member_1)

<__main__.My_first object at 0x0000013E8452C4D0>

In [15]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"
      
  def myfunc(self):
    print("Hello my name is " + self.name)

In [16]:
pk = Person("John", 36)

print(pk)

John(36)

In [17]:
pk.myfunc()

Hello my name is John

In [18]:
pk_1 = 5

In [19]:
pk_1.name

AttributeError: 'int' object has no attribute 'name'